In [1]:
import pandas as pd
import unicodedata
import plotly.graph_objs as go
import plotly.offline as pyo

In [2]:
#, encoding = "ISO-8859-1"
df = pd.read_csv("Homicidios2.csv", encoding = "utf-8")
print(df)

     Ano   Total   Hombre   Mujer   No especificado
0   1990   14493    12932    1519                42
1   1991   15128    13553    1534                41
2   1992   16594    14935    1623                36
3   1993   16040    14468    1553                19
4   1994   15839    14343    1476                20
5   1995   15612    14067    1525                20
6   1996   14505    13030    1460                15
7   1997   13552    12166    1370                16
8   1998   13656    12111    1531                14
9   1999   12249    10827    1411                11
10  2000   10737     9442    1284                11
11  2001   10285     8986    1282                17
12  2002   10088     8797    1280                11
13  2003   10087     8754    1316                17
14  2004    9329     8115    1206                 8
15  2005    9921     8610    1297                14
16  2006   10452     9143    1298                11
17  2007    8867     7776    1083                 8
18  2008   14006    12574    1425                 7
19  2009   19803    17838    1925                40
20  2010   25757    23285    2418                54
21  2011   27213    24257    2693               263
22  2012   25967    22986    2764               217
23  2013   23063    20280    2648               135
24  2014   20010    17503    2408                99
25  2015   20762    18293    2383                86
26  2016   24559    21673    2813                73
27  2017   32079    28522    3430               127
28  2018   36685    32765    3752               168
29  2019   36661    32530    3893               238
30  2020   36773    32336    3957               480

In [3]:
print(df["Ano"])
print(df[" Total"])

0     1990
1     1991
2     1992
3     1993
4     1994
5     1995
6     1996
7     1997
8     1998
9     1999
10    2000
11    2001
12    2002
13    2003
14    2004
15    2005
16    2006
17    2007
18    2008
19    2009
20    2010
21    2011
22    2012
23    2013
24    2014
25    2015
26    2016
27    2017
28    2018
29    2019
30    2020
Name: Ano, dtype: int64
0     14493
1     15128
2     16594
3     16040
4     15839
5     15612
6     14505
7     13552
8     13656
9     12249
10    10737
11    10285
12    10088
13    10087
14     9329
15     9921
16    10452
17     8867
18    14006
19    19803
20    25757
21    27213
22    25967
23    23063
24    20010
25    20762
26    24559
27    32079
28    36685
29    36661
30    36773
Name:  Total, dtype: int64

In [4]:
data = [go.Bar(x=df["Ano"] , y=df[" Total"])]
layout = go.Layout(title="Homicidios por año",
                   xaxis= dict(title="Años"),
                   yaxis= dict(title="Homicidios totales"),
                   barmode = "stack" )
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'